
body{
    background-color: #D9D9D9;
}
.container{
    width:900px;
}
.building{
    
    position:relative;
    top:0;
    left:0;
    
    
}
.logo{
    
    position:absolute;
    top: 8px;;
    left: 309px;
    z-index: 1;
    opacity: .7;
    
}
tr {
    text-align: center;
}
/* li{
    text-align: center;
} */
.table2{
    width: 300px;
    margin:0px auto;
    
}
.table1{
    text-align: left;
    
}
